<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="talex.zsw.baseproject"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyDesign">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.AndroidAnimationsActivity"/>
        <activity android:name=".activity.AnimationActivity"/>
        <activity android:name=".activity.AnimateCheckBoxActivity"/>
        <activity android:name=".activity.ProgressActivity"/>
        <activity android:name=".activity.CircleImageViewActivity"/>
        <activity android:name=".activity.CircularProgressActivity"/>
        <activity android:name=".activity.ContentMenuActivity"/>
        <activity android:name=".activity.CustomNumberPickActivity"/>
        <activity android:name=".activity.CustomScrollViewActivity"/>
        <activity android:name=".activity.DynamicHeightImageViewActivity"/>
        <activity android:name=".activity.ExpandableActivity"/>
        <activity android:name=".activity.ExpandablePanelActivity"/>
        <activity android:name=".activity.FlowLayoutActivity"/>
        <activity android:name=".activity.LikeButtonActivity"/>
        <activity android:name=".activity.LoadingDialogActivity"/>
        <activity android:name=".activity.MaterialFavoriteButtonActivity"/>
        <activity android:name=".activity.MyWebViewActivity"/>
        <activity android:name=".activity.NiceSpinnerActivity"/>
        <activity android:name=".activity.NumberPBActivity"/>
        <activity android:name=".activity.OverScrollViewActivity"/>
        <activity android:name=".activity.OverScrollActivity"/>
        <activity android:name=".activity.PullToNextLayoutActivity"/>
        <activity android:name=".activity.PTNScrollViewActivity"/>
        <activity android:name=".activity.PTNWebViewActivity"/>
        <activity android:name=".activity.PTNOtherActivity"/>
        <activity android:name=".activity.PullZoomViewActivity"/>
        <activity android:name=".activity.RecyclerViewActivity"/>
        <activity android:name=".activity.RefreshLayoutActivity"/>
        <activity android:name=".activity.RichTextActivity"/>
        <activity android:name=".activity.RippleViewActivity"/>
        <activity android:name=".activity.RoundedImageActivity"/>
        <activity android:name=".activity.ScrollerNumberPickerActivity"/>
        <activity android:name=".activity.SlideDateTimePickerActivity"/>
        <activity android:name=".activity.SliderLayoutActivity"/>
        <activity android:name=".activity.SmallBangActivity"/>
        <activity
            android:name=".activity.SoftKeyboardActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".activity.SweetAlertDialogActivity"/>
        <activity android:name=".activity.SweetSheetActivity"/>
        <activity android:name=".activity.SwipeLayoutActivity"/>
        <activity android:name=".activity.SwipyRefreshLayoutActivity"/>
        <activity android:name=".activity.SwitchAnimationActivity"/>
        <activity android:name=".activity.TimesSquareActivity"/>
        <activity android:name=".activity.WheelViewActivity"/>
        <activity android:name=".activity.WTextViewActivity"/>
        <activity android:name=".activity.XBusActivity"/>
        <activity android:name=".activity.SimpleActivity"/>
        <activity android:name=".activity.ComplexActivity"/>
    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK">
    </uses-permission>
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

</manifest>
